<div style="padding-left: 10px; padding-right: 10px;" class="row">
  <section *ngIf="isLoading">
    <mat-spinner mode="indeterminate"></mat-spinner>
  </section>
  <section *ngIf="!isLoading">
    <div class="col">
      <h5 class="float-left">Activities list</h5>
      <br>
      <hr style="border-top: 1px solid blue;" />
      <!--<ul class="list-group">-->
      <table mat-table [dataSource]="activitiesListState$.activity" class="mat-elevation-z8">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let activity" (click)="onSelect(activity)">{{activity.name}}</td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef>Category</th>
          <td mat-cell *matCellDef="let activity" (click)="onSelect(activity)">{{activity.category}}</td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>Price</th>
          <td mat-cell *matCellDef="let activity" (click)="onSelect(activity)">{{activity.price}}</td>
        </ng-container>

        <ng-container matColumnDef="language">
          <th mat-header-cell *matHeaderCellDef>Language</th>
          <td mat-cell *matCellDef="let activity" (click)="onSelect(activity)">{{activity.language}}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let activity" (click)="onSelect(activity)">
            <button type="button" mat-raised-button color="primary"><i class="fa fa-arrow-right"></i></button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedActivityColumns">
        </tr>
        <tr mat-row *matRowDef="let row; columns: displayedActivityColumns;"></tr>
      </table>


      <!--
      <table class="table table-bordered">
        <tr style="background-color:blue;color: #fff;">
          <th>Name</th>
          <th>Category</th>
          <th>Price</th>
          <th>Language</th>
          <th>Actions</th>
        </tr>
        <tr *ngFor="let activity of activitiesListState$.activity" (click)="onSelect(activity)">
          <td>
            <b>{{activity.name}}</b>
          </td>
          <td>
            <b>{{activity.category}}</b>
          </td>
          <td>
            <b>{{activity.price}}€</b>
          </td>
          <td>
            <b>{{activity.language}}</b>
          </td>
          <td>
            <button type="button" class="btn btn-primary btn-circle btn-sm"><i class="fa fa-arrow-right"></i></button>
          </td>
        </tr>
      </table>
      </ul>
    -->
    </div>
    <div class="col">
      <app-activity-detail [activity]="selectedActivity" [eFilterType]="eFilterType"
        (signUpActivity)="onSignUpActivity($event)" (deleteSignUpActivity)="onDeleteSignUpActivity($event)"
        (deleteFavorites)="onDeleteFavorites($event)"></app-activity-detail>
    </div>
  </section>
</div>