.footer{  
    /*position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #0275d8;*/

    position: fixed;
    left: 0;
    bottom: 0; 
    width: 100%;
    text-align: left;
    background-color: #0275d8;
}
