body {
    text-align: left;
    background-color: blueviolet;
}

li div {
    font-size: 1.5em;
}

div ul li {
    list-style-type: circle;
}

input {
    font-size: 1.5em;
    margin: 25px;
    padding: 10px;
}

input[type="submit"] {
    display: inline-block;
    width: auto;
    border: none;
}

.done {
    color: rgb(139, 0, 97);
    text-decoration: line-through;
}