<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <!-- Navbar content -->
    <!-- UOC LOGO -->
    <a class="navbar-brand" href="#">
        <img width="130" src="assets/img/uoc_masterbrand_3linies_positiu.png" alt="UOC logo">
    </a>
    <!-- APP NAME -->
    <a class="navbar-brand">
        APP DE ACTIVIDADES TURÍSTICAS
    </a>
    <!-- BUTTONS -->
    <form class="form-inline my-2 my-lg-0">
        <button mat-raised-button color="primary" *ngIf="!loginState$.loggedIn" routerLink="/login">SIGN IN</button>
        <button mat-raised-button color="primary" *ngIf="!loginState$.loggedIn" routerLink="/register">JOIN NOW</button>

        <button mat-raised-button color="primary" *ngIf="loginState$.loggedIn" (click)="onClickHome()">HOME</button>
        <button mat-raised-button color="primary" *ngIf="userState$.user?.profile.type === 'Company'"
            routerLink="/activities-admin-list">ADMIN</button>
        <button mat-raised-button color="primary" *ngIf="userState$.user?.profile.type === 'Tourist'"
            (click)="onClickFavorites()">FAVORITES</button>
        <button mat-raised-button color="primary" *ngIf="userState$.user?.profile.type === 'Tourist'"
            (click)="onClickMyActivities()">MY ACTIVITIES</button>
        <button mat-raised-button color="primary" *ngIf="loginState$.loggedIn" routerLink="/profile">PROFILE</button>
        <button mat-raised-button color="primary" *ngIf="loginState$.loggedIn" (click)="onClickLogout()">LOGOUT</button>
    </form>
</nav>