<p>pizza-item works!</p>
<div style="text-align:center">
    <div class="pizza-container" [ngClass]="stockClasses">
        <p>{{name}}</p>
        <p>{{price}}</p>
        <p>{{quantityInCart}}</p>
        <input type="submit" value="Aumentar" class="canReduce" (click)="addItem()">
        <div *ngIf="canReduce">
            <input type="submit" value="Reducir" class="canReduce" (click)="removeItem()">
        </div>
        <img src="../../assets/{{imageUrl}}">
        <select>
            <option *ngFor='let pizza of pizzas' [value]="pizza.name">
                {{pizza.name}}
            </option>
        </select>
    </div>
</div>