<div class="pizza-item" [ngClass]="{ sale: pizza.getIsOnSale() }">
    <div class="image"><img [src]="pizza.getImageUrl()" /></div>
    <div class="details">
        <div>{{ pizza.getName() }}</div>
        <div>{{ pizza.getPrice() }} €</div>
        <div>
            <button *ngIf="pizza.getQuantityInCart() > 0" (click)="decrementInCart()">-</button>

            <span>{{ pizza.getQuantityInCart() }}</span>
            <button (click)="incrementInCart()">+</button>
        </div>
    </div>
</div>