<div class="flex justify-between padding">
  <div class="list">
    <button *ngIf="isOwnerLoggedIn" (click)="onSelected(null)">Add activity</button>
    <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
        <th>Date</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let item of activities">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.category}}</td>
        <td>{{item.price}}</td>
        <td>{{item.date}}</td>
        <td><button (click)="onSelected(item)">Open</button></td>
      </tr>
    </table>
  </div>

  <div class="detail" *ngIf="selectedActivity">
    <app-activity-details (edited)="onEdited()" [selectedActivity]="selectedActivity"></app-activity-details>
  </div>
</div>