<div class="container">
    <form [formGroup]="profileForm" (ngSubmit)="updateProfile()">
        <h5 class="float-left">PROFILE</h5>
        <br>
        <hr style="border-top: 1px solid blue;" />

        <!-- Si perfil de usuario company -->
        <div *ngIf="companyProfile">
            <!-- Company name -->
            <section>
                <mat-form-field appearance="fill">
                    <mat-label>Company Name</mat-label>
                    <input matInput type="text" [formControl]="companyName" placeholder="Company Name" />
                    <mat-error
                        *ngIf="profileForm.get('companyName').errors && profileForm.get('companyName').errors.required">
                        Name is required</mat-error>
                    <mat-error
                        *ngIf="profileForm.get('companyName').errors && (profileForm.get('companyName').errors.minlength || profileForm.get('companyName').errors.maxlength)">
                        Company
                        name must be greater than 3 characters and less than 55 characters
                    </mat-error>
                </mat-form-field>
            </section>

            <!--
            <input type="text" [formControl]="companyName" class="form-control mb-4" placeholder="Company Name">
            <span style="color: red;"
                *ngIf="profileForm.get('companyName').errors && (profileForm.get('companyName').touched || profileForm.get('companyName').dirty)">
                <span *ngIf="profileForm.get('companyName').errors.required">Name is required</span>
                <span
                    *ngIf="profileForm.get('companyName').errors.minlength || profileForm.get('companyName').errors.maxlength">Company
                    name must be greater than 3 characters and less than 55 characters</span>
            </span>
        -->

            <!-- Company description -->
            <mat-form-field appearance="fill">
                <mat-label>Company Description</mat-label>
                <input matInput type="text" [formControl]="companyDescription" placeholder="Company Description" />
            </mat-form-field>

            <!--
            <input type="text" [formControl]="companyDescription" class="form-control mb-4"
                placeholder="Company Description">
-->

            <!-- CIF -->
            <mat-form-field appearance="fill">
                <mat-label>CIF</mat-label>
                <input matInput type="text" [formControl]="cif" placeholder="CIF" />
            </mat-form-field>
            <!--
            <input type="text" [formControl]="cif" class="form-control mb-4" placeholder="CIF">
            -->
        </div>

        <!-- User name -->
        <section>
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput type="text" [formControl]="name" placeholder="User Name">
                <mat-error *ngIf="profileForm.get('name').errors && profileForm.get('name').errors.required">
                    Name is required
                </mat-error>
                <mat-error
                    *ngIf="profileForm.get('name').errors && (profileForm.get('name').errors.minlength || profileForm.get('name').errors.maxlength)">
                    User name
                    must be greater than 3 characters and less than 55 characters
                </mat-error>
                <mat-error *ngIf="profileForm.get('name').errors && profileForm.get('name').errors.pattern">Invalid
                    character</mat-error>
            </mat-form-field>
        </section>

        <!--
        <input type="text" [formControl]="name" class="form-control mb-4" placeholder="User Name">
        <span style="color: red;"
            *ngIf="profileForm.get('name').errors && (profileForm.get('name').touched || profileForm.get('name').dirty)">
            <span *ngIf="profileForm.get('name').errors.required">Name is required</span>
            <span *ngIf="profileForm.get('name').errors.minlength || profileForm.get('name').errors.maxlength">User name
                must be greater than 3 characters and less than 55 characters</span>
            <span *ngIf="profileForm.get('name').errors.pattern">Invalid character</span>
        </span>
    -->

        <!-- Surname -->
        <section>
            <mat-form-field appearance="fill">
                <mat-label>Surname</mat-label>
                <input matInput type="text" [formControl]="surname" placeholder="Surname">
                <mat-error
                    *ngIf="profileForm.get('surname').errors && (profileForm.get('surname').errors.minlength || profileForm.get('surname').errors.maxlength)">
                    User
                    surname must be greater than 3 characters and less than 55 characters
                </mat-error>
                <mat-error *ngIf="profileForm.get('surname').errors && profileForm.get('surname').errors.pattern">
                    Invalid character
                </mat-error>
            </mat-form-field>
        </section>

        <!--
        <input type="text" [formControl]="surname" class="form-control mb-4" placeholder="Surname">
        <span style="color: red;"
            *ngIf="profileForm.get('surname').errors && (profileForm.get('surname').touched || profileForm.get('surname').dirty)">
            <span
                *ngIf="profileForm.get('surname').errors.minlength || profileForm.get('surname').errors.maxlength">User
                surname must be greater than 3 characters and less than 55 characters</span>
            <span *ngIf="profileForm.get('surname').errors.pattern">Invalid character</span>
        </span>
    -->

        <!-- Birth date-->
        <mat-form-field appearance="fill">
            <mat-label>BirthDate</mat-label>
            <input matInput placeholder="dd/MM/yyyy" [formControl]="birthDate" [matDatepicker]="datePicker">
            <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
            <mat-datepicker #datePicker></mat-datepicker>
            <mat-error
                *ngIf="profileForm.get('birthDate').errors && profileForm.get('birthDate').errors?.errorFormatDate">
                Invalid format date
            </mat-error>
        </mat-form-field>

        <!--
        <input type="text" placeholder="dd/MM/yyyy" [formControl]="birthDate" class="form-control mb-4"
            placeholder="Birth Date">
        <span style="color: red;"
            *ngIf="profileForm.get('birthDate').errors && (profileForm.get('birthDate').touched || profileForm.get('birthDate').dirty)">
            <span *ngIf="profileForm.get('birthDate').errors?.errorFormatDate">Invalid format date</span>
        </span>
    -->
        <!-- Phone -->
        <mat-form-field appearance="fill">
            <mat-label>Phone</mat-label>
            <input matInput type="number" [formControl]="phone" placeholder="Phone" />
        </mat-form-field>
        <!--
        <input type="number" [formControl]="phone" class="form-control mb-4" placeholder="Phone">
        -->

        <!-- Nacionality -->
        <mat-form-field appearance="fill">
            <mat-label>Select nacionality...</mat-label>
            <mat-select [formControl]="nationality" placeholder="Nacionality">
                <mat-option *ngFor="let nationality of eUserNationalities | keyvalue" [value]="nationality.value">
                    {{nationality.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <!--
        <select [formControl]="nationality" class="form-control mb-4" placeholder="Nacionality">
            <option [ngValue]="null">Select nacionality...</option>
            <option *ngFor="let nationality of eUserNationalities | keyvalue" [ngValue]="nationality.value">
                {{nationality.value}}</option>
        </select>
    -->

        <!-- NIF -->
        <section>
            <mat-form-field appearance="fill">
                <mat-label>NIF</mat-label>
                <input matInput type="text" [formControl]="nif" placeholder="NIF" />
                <!-- Check NIF -->
                <mat-error *ngIf="profileForm.errors && profileForm.errors?.errorNIF">Wrong NIF</mat-error>
            </mat-form-field>
        </section>
        <!--
        <input type="text" [formControl]="nif" class="form-control mb-4" placeholder="NIF">
                
        <span style="color: red;" *ngIf="profileForm.errors">
            <span *ngIf="profileForm.errors?.errorNIF">Wrong NIF</span>
        </span>
    -->

        <!-- About me -->
        <mat-form-field appearance="fill">
            <mat-label>About me</mat-label>
            <textarea matInput [formControl]="aboutMe" placeholder="About me"></textarea>
        </mat-form-field>

        <!--
        <textarea [formControl]="aboutMe" class="form-control mb-4" placeholder="About me"></textarea>
        -->

        <!-- UPDATE BUTTON -->
        <section>
            <button mat-raised-button color="primary" type="submit" [disabled]="!profileForm.valid">UPDATE PROFILE
                INFORMATION</button>
        </section>
        <!--
        <button class="btn btn-primary my-4 float-left" type="submit" [disabled]="!profileForm.valid">UPDATE PROFILE
            INFORMATION</button>
        -->
    </form>
    <form class="formTable">
        <br>
        <h5 class="float-left">EDUCATION</h5>
        <br>
        <hr style="border-top: 1px solid blue;" />
        <!-- <ul class="list-group">-->
        <table mat-table [dataSource]="user.educations" class="mat-elevation-z8">

            <!--Type Column-->
            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef>Type</th>
                <td mat-cell *matCellDef="let education">{{education.type}}</td>
            </ng-container>

            <!--Level Column-->
            <ng-container matColumnDef="level">
                <th mat-header-cell *matHeaderCellDef>Level</th>
                <td mat-cell *matCellDef="let education">{{education.level}}</td>
            </ng-container>

            <!--Name Column-->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let education">{{education.name}}</td>
            </ng-container>

            <!--University Column-->
            <ng-container matColumnDef="university">
                <th mat-header-cell *matHeaderCellDef>University</th>
                <td mat-cell *matCellDef="let education">{{education.university}}</td>
            </ng-container>

            <!--Finish Date Column-->
            <ng-container matColumnDef="finishDate">
                <th mat-header-cell *matHeaderCellDef>Finish Date</th>
                <td mat-cell *matCellDef="let education">{{education.finish}}</td>
            </ng-container>

            <!--Actions Column-->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let education">
                    <button mat-raised-button color="primary"
                        [routerLink]="['/profile-education', education.uid]">Edit</button>
                    <button mat-raised-button color="primary"
                        (click)="onClickDeleteEducation(education.uid)">Delete</button></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedEducationColumns">
            </tr>
            <tr mat-row *matRowDef="let row; columns: displayedEducationColumns;"></tr>
        </table>

        <!--
            <table class="table table-bordered">
                <thead>
                    <tr style="background-color:blue;color: #fff;">
                        <th>Type</th>
                        <th>Level</th>
                        <th>Name</th>
                        <th>University</th>
                        <th>Finish date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let education of user.educations">
                        <th>{{ education.type }}</th>
                        <th>{{ education.level }}</th>
                        <td>{{ education.name }}</td>
                        <td>{{ education.university }}</td>
                        <td>{{ education.finish }}</td>
                        <td>
                            <button class="btn btn-outline-info"
                                [routerLink]="['/profile-education', education.uid]">Edit</button>
                            <button class="btn btn-outline-danger"
                                (click)="onClickDeleteEducation(education.uid)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        -->

        <button mat-raised-button color="primary" [routerLink]="['/profile-education']">Add</button>
        <!--</ul>-->
    </form>
    <form class="formTable">
        <br>
        <h5 class="float-left">LANGUAGES</h5>
        <br>
        <hr style="border-top: 1px solid blue;" />
        <!--    <ul class="list-group">-->
        <table mat-table [dataSource]="user.languages" class="mat-elevation-z8">

            <!--Level Column-->
            <ng-container matColumnDef="level">
                <th mat-header-cell *matHeaderCellDef>Level</th>
                <td mat-cell *matCellDef="let language">{{language.level}}</td>
            </ng-container>

            <!--Language Column-->
            <ng-container matColumnDef="language">
                <th mat-header-cell *matHeaderCellDef>Language</th>
                <td mat-cell *matCellDef="let language">{{language.language}}</td>
            </ng-container>

            <!--Finish Date Column-->
            <ng-container matColumnDef="finishDate">
                <th mat-header-cell *matHeaderCellDef>Finish Date</th>
                <td mat-cell *matCellDef="let language">{{language.finish}}</td>
            </ng-container>

            <!--Actions Column-->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let language">
                    <button mat-raised-button color="primary"
                        [routerLink]="['/profile-language', language.uid]">Edit</button>
                    <button mat-raised-button color="primary"
                        (click)="onClickDeleteLanguage(language.uid)">Delete</button></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedLanguageColumns">
            </tr>
            <tr mat-row *matRowDef="let row; columns: displayedLanguageColumns;"></tr>
        </table>

        <!--
        <table class="table table-bordered">
            <thead>
                <tr style="background-color:blue;color: #fff;">
                    <th>Level</th>
                    <th>Language</th>
                    <th>Finish date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let language of user.languages">
                    <th>{{ language.level }}</th>
                    <td>{{ language.language }}</td>
                    <td>{{ language.finish }}</td>
                    <td>
                        <button class="btn btn-outline-info"
                            [routerLink]="['/profile-language', language.uid]">Edit</button>
                        <button class="btn btn-outline-danger"
                            (click)="onClickDeleteLanguage(language.uid)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    -->
        <button mat-raised-button color="primary" [routerLink]="['/profile-language']">Add</button>
        <!--    </ul>-->
    </form>
</div>